<mat-toolbar color="primary" class="example-toolbar">
	<button [routerLink]="['/dashboard']" mat-icon-button color="secondary"><mat-icon>local_bar</mat-icon></button>
	<h1 class="example-app-name">Long Drink</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<!------------------------------INICIO DE BARRA LATERAL ADMINISTRATIVA--------------------------------->
		<mat-nav-list *ngIf="rol == 'ADMINISTRADOR';">

			<mat-expansion-panel [class.mat-elevation-z0]="true">
				<mat-expansion-panel-header>
					<mat-icon>groups</mat-icon>
					Alumnos
				</mat-expansion-panel-header>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'alumnos']">
						<span>Listado</span>
					</a>
				</mat-nav-list>
			</mat-expansion-panel>

			<mat-expansion-panel [class.mat-elevation-z0]="true">
				<mat-expansion-panel-header>
					<mat-icon>book</mat-icon>
					Cursos
				</mat-expansion-panel-header>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'cursos']">
						<span>Listado</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'nuevo-curso']">
						<span>Nuevo Curso</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'guias-estudio']">
						<span>Guías de Estudio</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'definir-ge']">
						<span>Definir Guías de Estudio</span>
					</a>
				</mat-nav-list>
			</mat-expansion-panel>

			<mat-expansion-panel [class.mat-elevation-z0]="true">
				<mat-expansion-panel-header>
					<mat-icon>person</mat-icon>
					Docentes
				</mat-expansion-panel-header>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'docentes']">
						<span>Listado</span>
					</a>
				</mat-nav-list>
			</mat-expansion-panel>

			<mat-expansion-panel [class.mat-elevation-z0]="true">
				<mat-expansion-panel-header>
					<mat-icon>leaderboard</mat-icon>
					Reportes
				</mat-expansion-panel-header>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'exp','general']">
						<span>Generales</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'exp','alumnos']">
						<span>Alumnos</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'exp','profesores']">
						<span>Docentes</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'exp','cursos']">
						<span>Cursos</span>
					</a>
				</mat-nav-list>
				<mat-nav-list>
					<a mat-list-item [routerLink]="['/dashboard', 'exp','inscripciones']">
						<span>Inscripciones</span>
					</a>
				</mat-nav-list>
			</mat-expansion-panel>

			<mat-expansion-panel [class.mat-elevation-z0]="true">
				<mat-expansion-panel-header>
					<mat-icon>description</mat-icon>
					Inscripciones
				</mat-expansion-panel-header>
				<mat-list-item [routerLink]="['/dashboard', 'inscripciones']">
					<span>Listado</span>
				</mat-list-item>
				<mat-list-item [routerLink]="['/dashboard', 'nuevo-alumno']">
					<span>Nuevo Alumno</span>
				</mat-list-item>
				<mat-list-item [routerLink]="['/dashboard', 'antiguo-alumno']">
					<span>Alumno Existente</span>
				</mat-list-item>
			</mat-expansion-panel>

			<mat-list-item>
				<span>{{rol}}</span>
			</mat-list-item>

			<mat-list-item [routerLink]="['/dashboard','mi-cuenta']">
				<mat-icon>description</mat-icon><span>Mi Cuenta</span>
			</mat-list-item>

			<mat-list-item (click)="cerrarSesion()">
				<mat-icon>logout</mat-icon><span>Cerrar Sesión</span>
			</mat-list-item>

		</mat-nav-list>
		<!------------------------------FIN DE BARRA LATERAL ADMINISTRATIVA--------------------------------->

		<!------------------------------INICIO DE BARRA LATERAL ALUMNO--------------------------------->
		<mat-nav-list *ngIf="rol == 'ALUMNO';">

			<mat-list-item [routerLink]="['/a','mis-cursos']">
				<mat-icon>book</mat-icon><span>Mis Cursos</span>
			</mat-list-item>

      <mat-list-item [routerLink]="['/a','pagos']">
				<mat-icon>payments</mat-icon><span>Mis Pagos</span>
			</mat-list-item>

      <mat-list-item [routerLink]="['/a','asistencia']">
				<mat-icon>checklist</mat-icon><span>Asistencias</span>
			</mat-list-item>

			<mat-list-item [routerLink]="['/a','mi-cuenta']">
				<mat-icon>description</mat-icon><span>Mi Cuenta</span>
			</mat-list-item>

			<mat-list-item>
				<span>{{rol}}</span>
			</mat-list-item>

			<mat-list-item (click)="cerrarSesion()">
				<mat-icon>logout</mat-icon><span>Cerrar Sesión</span>
			</mat-list-item>

		</mat-nav-list>
		<!------------------------------FIN DE BARRA LATERAL ALUMNO--------------------------------->
		<!------------------------------INICIO DE BARRA LATERAL DOCENTE--------------------------------->
		<mat-nav-list *ngIf="rol == 'DOCENTE';">

			<mat-list-item [routerLink]="['/p','mis-cursos']">
				<mat-icon>book</mat-icon><span>Mis Cursos</span>
			</mat-list-item>

			<mat-list-item [routerLink]="['/p','mi-cuenta']">
				<mat-icon>description</mat-icon><span>Mi Cuenta</span>
			</mat-list-item>

			<mat-list-item>
				<span>{{rol}}</span>
			</mat-list-item>

			<mat-list-item (click)="cerrarSesion()">
				<mat-icon>logout</mat-icon><span>Cerrar Sesión</span>
			</mat-list-item>

		</mat-nav-list>
		<!------------------------------FIN DE BARRA LATERAL DOCENTE--------------------------------->
	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet> <!----Saludos de parte del router outlet.-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toastAsistencia" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-bg-primary">
          <mat-icon>how_to_reg</mat-icon>
          <strong class="me-auto">Notificaciones</strong>
          <!---<small>11 mins ago</small>-->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-center">
          <p class="fw-light">¡Hola! Te recordamos que puedes marcar tu asistencia.</p>
          <div class="container text-center mt-2">
            <a class="btn btn-sm btn-primary" [routerLink]="['/a','asistencia']">Marcar Asistencia</a>
          </div>
        </div>
      </div>
    </div>
	</div>

</mat-sidenav-container>
