<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="rounded-4 shadow p-4 border border-2 border-primary">
                <h2 class="fw-bold fst-italic text-primary text-center mb-4 text-decoration-underline fs-2">Nuevo Curso
                </h2>
                <div class="row">
                    <div class="col">
                        <label for="nombreCurso" class="form-label fw-bold">Nombre del Curso</label>
                        <input type="text" class="form-control fw-medium" id="nombreCurso"
                            placeholder="COCTELERÍA BÁSICA II" minlength="5" maxlength="100" #nombreCurso>

                        <label for="descripcionCurso" class="form-label mt-3 fw-bold">Descripción del Curso</label>
                        <textarea class="form-control fw-medium" id="descripcionCurso" rows="3" minlength="5"
                            maxlength="100" #descripcionCurso></textarea>

                        <label for="turno" class="form-label mt-3 fw-bold">Turno</label>
                        <select class="form-select fw-medium" id="turno" #turno>
                            <option class="fw-medium" *ngFor="let t of listaTurnos" [value]="t.codTurno">{{t.nombre}}
                            </option>
                        </select>
                        <label for="fechaInicio" class="fw-bold form-label">Fecha de Inicio</label>
                        <input type="date" class="text-uppercase fw-medium form-control" id="fechaInicio"
                            name="fechaInicio" [(ngModel)]="eFechaInicio" (change)="onFechaInicioChange()" required
                            #fechaInicio>
                    </div>
                    <div class="col">
                        <label for="duracionCurso" class="form-label fw-bold">Duración del Curso - Semanas</label>
                        <input type="number" class="form-control fw-medium" id="duracionCurso" placeholder="4"
                            #duracionCurso (input)="onDuracionChange($event)">

                        <label for="cantidadAlumnos" class="form-label mt-3 fw-bold">Cantidad de Alumnos</label>
                        <input type="number" class="form-control fw-medium" id="cantidadAlumnos" placeholder="8"
                            #cantidadAlumnos>

                        <label for="frecuencia" class="form-label mt-5 pt-3 fw-bold">Frecuencia</label>
                        <select class="form-select fw-medium" id="frecuencia" #frecuencia>
                            <option class="fw-medium" *ngFor="let f of listaFrecuencias" [value]="f">{{f}}</option>
                        </select>
                        <label for="fechaFin" class="fw-bold form-label">Fecha de Fin</label>
                        <input type="date" class="text-uppercase fw-medium form-control" id="fechaFin" name="fechaFin"
                            [(ngModel)]="eFechaFin" #fechaFin readonly required>
                    </div>
                    <div class="col">
                        <label for="mensualidad" class="form-label fw-bold">Mensualidad</label>
                        <input type="number" class="form-control fw-medium" id="mensualidad" placeholder="100"
                            #mensualidad>

                        <label for="profesor" class="form-label mt-3 fw-bold">Docente</label>
                        <select class="form-select fw-medium" id="profesor" #profesor>
                            <option class="fw-medium" *ngFor="let p of listaProfesores" [value]="p.codProfesor">
                                {{p.nombre}} {{p.apellidoPaterno}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 mb-3 text-center">
                        <a class="fw-bold btn btn-primary fs-5 bg-gradient"
                            (click)="onSubmit(nombreCurso.value, duracionCurso.value, mensualidad.value, descripcionCurso.value, cantidadAlumnos.value, profesor.value, turno.value, frecuencia.value, true, fechaInicio.value, fechaFin.value)">Guardar</a>
                    </div>
                    <div class="col-md-4 mb-3 text-center">
                        <button type="button" class="fw-bold btn btn-secondary fs-5 bg-gradient"
                            (click)="limpiarCampos()">Limpiar</button>
                    </div>
                    <div class="col-md-4 mb-3 text-center">
                        <a class="fw-bold btn btn-danger fs-5 bg-gradient" [routerLink]="['/dashboard']">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
