<div class="container container-fluid mt-5">
    <div class="card border-success">
        <div class="card-header text-center fw-bold bg-success text-light">
          <h5 class="fw-bold">Exportar Cursos</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center fw-medium">Por favor, seleccione las opciones a continuación para la generación de un reporte de cursos.</p>
          <div class="row">
            <div class="col-4">
                <h6 class="fw-bold">Tipo de Reporte</h6>
                <select class="form-select fw-medium" id="tipo" #cursoTipo (change)="setTipo(cursoTipo.value)">
                    <option class="fw-medium" value="general" selected>GENERAL</option>
                </select>
            </div>
            <div class="col-4">
                <h6 class="fw-bold">Formato de Archivo</h6>
                <select class="form-select fw-medium" id="formato" #cursoFormato (change)="setFormato(cursoFormato.value)">
                    <option class="fw-medium" value="excel"selected>EXCEL</option>
                    <option class="fw-medium" value="csv">CSV</option>
                    <option class="fw-medium" value="pdf">PDF</option>
                </select>
            </div>
            <div class="col-4 mt-4">
                <a class="btn-success btn fw-bold bg-gradient" (click)="descargarArchivoC()" >Descargar</a>
            </div>

        </div>
        </div>
    </div>
    </div>
