<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="text-decoration-underline mt-4 mb-4 fw-bold fst-italic">Listado de Profesores</h1>
    </div>
    <div class="mb-1 d-flex justify-content-between">
        <div>
            <label for="dni" class="fw-bold me-2 form-label">Buscar Por DNI</label>
            <input autofocus type="text" [(ngModel)]="filtroDni" class="fw-medium me-2">
            <button class="fw-bold btn btn-warning me-5" (click)="buscarPorDNI()">Buscar</button>
            <label for="filtro" class="form-label fw-bold me-2">Filtrar Por</label>
            <select id="filtro" class="fw-medium me-2" [(ngModel)]="filtroEstado" (ngModelChange)="filtrarProfesores()">
                <option value="activos">Lista Activos</option>
                <option value="general">Lista General</option>
            </select>
        </div>
        <button class="btn btn-primary mb-3 fw-bold">Agregar Nuevo Profesor</button>
    </div>
    <table>
        <thead>
            <tr class="text-center">
                <th class="fw-bold align-middle">Código</th>
                <th class="fw-bold align-middle">Nombres y Apellidos</th>
                <th class="fw-bold align-middle">DNI</th>
                <th class="fw-bold align-middle">Teléfono</th>
                <th class="fw-bold align-middle">Fecha de Contratación</th>
                <th class="fw-bold align-middle">Estado</th>
                <th class="fw-bold align-middle" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let profesor of profesores">
                <td class="fw-medium align-middle">{{ profesor.codProfesor }}</td>
                <td class="fw-medium align-middle">{{ profesor.nombre }} {{ profesor.apellidoPaterno }} {{
                    profesor.apellidoMaterno }}</td>
                <td class="fw-medium align-middle">{{ profesor.dni }}</td>
                <td class="fw-medium align-middle">{{ profesor.telefono }}</td>
                <td class="fw-medium align-middle">{{ profesor.fechaContratacion | date }}</td>
                <td class="fw-bold align-middle text-success" *ngIf="profesor.activo == true; else inactivo">ACTIVO</td>
                <ng-template #inactivo><td class="fw-bold align-middle text-danger">INACTIVO</td></ng-template>
                <td>
                    <a class="btn btn-success mx-2 my-1 fw-bold">Editar</a>
                    <a class="btn btn-danger mx-2 my-1 fw-bold">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>