<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <label for="buscar" class="fw-bold me-2">Buscar Alumno Por Dni :</label>
            <input type="text" id="alumnoDni" autofocus class="fw-medium me-2">
            <button class="fw-bold btn btn-primary me-2" (click)="buscarAlumnoPorDni()">Buscar Alumno</button>
            <br>
            <br>
            <div class="rounded-4 shadow p-4 border border-2 border-primary">
                <h2 class="fw-bold fst-italic text-primary text-center mb-4 text-decoration-underline fs-2">Inscripción
                    de Alumnos</h2>
                <form class="form container" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="nombre" class="fw-bold form-label">Nombres</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="nombre" name="nombre"
                                required maxlength="50" autofocus [(ngModel)]="nombre" readonly>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="apellidoPaterno" class="fw-bold form-label">Apellido Paterno</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="apellidoPaterno"
                                name="apellidoPaterno" required maxlength="25" [(ngModel)]="apellidoPaterno" readonly>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="apellidoMaterno" class="fw-bold form-label">Apellido Materno</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="apellidoMaterno"
                                name="apellidoMaterno" required maxlength="25" [(ngModel)]="apellidoMaterno" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="dni" class="fw-bold form-label">DNI</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="dni" name="dni"
                                minlength="8" maxlength="8" required [(ngModel)]="dni" readonly>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="telefono" class="fw-bold form-label">Teléfono</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="dni" name="telefono"
                                minlength="9" maxlength="9" required [(ngModel)]="telefono" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="curso" class="fw-bold form-label">Curso</label>
                            <select class="text-uppercase fw-medium form-select" id="curso" name="curso" required
                                [(ngModel)]="selectedCurso" (change)="onCursoSelectionChange()">
                                <option *ngFor="let curso of cursosDisponibles" [ngValue]="curso">
                                    {{curso.curso.nombre +" - "+curso.turno.nombre}} <!---Modificar de ser necesario.-->
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="turno" class="fw-bold form-label">Turno</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="turno" name="turno"
                                readonly [(ngModel)]="turno">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="seccion" class="fw-bold form-label">Seccion</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="seccion" name="seccion"
                                readonly required [(ngModel)]="seccion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="fechaInicio" class="fw-bold form-label">Fecha de Inicio</label>
                            <input type="date" class="text-uppercase fw-medium form-control" id="fechaInicio"
                                name="fechaInicio" readonly required [(ngModel)]="fechaInicio">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="fechaFinal" class="fw-bold form-label">Fecha de Fin</label>
                            <input type="date" class="text-uppercase fw-medium form-control" id="fechaFinal"
                                name="fechaFinal" readonly required [(ngModel)]="fechaFin">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="fechaInscripcion" class="fw-bold form-label">Fecha de Inscripción</label>
                            <input type="date" class="text-uppercase fw-medium form-control" id="fechaInscripcion"
                                name="fechaInscripcion" readonly required [(ngModel)]="fechaInscripcion">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3 text-center">
                            <button type="submit" class="fw-bold btn btn-primary fs-5">Guardar</button>
                        </div>
                        <div class="col-md-4 mb-3 text-center">
                            <button type="button" class="fw-bold btn btn-secondary fs-5" (click)="limpiarCampos()">Limpiar</button>
                        </div>
                        <div class="col-md-4 mb-3 text-center">
                            <a class="fw-bold btn btn-danger fs-5" [routerLink]="['/dashboard']">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
