


<div class="container d-flex flex-column align-items-center mb-5">

    
    <h3 class="text-decoration-underline mt-4 mb-4 fw-bold ">Lista de Secciones</h3>

    <div class="table-container">


        <div class="card">
            <div class="card-header">Secciones</div>
            <div class="card-body">
        <table class=" table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th class="fw-bold align-middle">Codigo</th>
                    <th class="fw-bold align-middle">Nombre</th>
                    <th class="fw-bold align-middle">Curso</th>
                    <th class="fw-bold align-middle">Turno</th>
                    <th class="fw-bold align-middle">Profesor</th>
                    <th class="fw-bold align-middle">Fecha de Inicio</th>
                    <th class="fw-bold align-middle">Fecha de Fin</th>
                    <th class="fw-bold align-middle">Estado</th>
                    
                </tr>
            <tbody>
                <tr *ngFor="let seccion of secciones" class="text-center">
                    <td>{{ seccion.codSeccion }}</td>
                    <td >{{ seccion.curso?.nombre }}</td>
                    <td >{{ seccion.curso?.nombre}}</td>
                    <td >{{ seccion.turno?.nombre}}</td>
                    <td >{{ seccion.profesor?.nombre}}</td>

                    <td>{{ seccion.fechaInicio | date }}</td>
                    <td >{{ seccion.fechaFinal | date }}</td>
                    <td >{{ seccion.estado==true?'Activo':'Inactivo'}}</td>
                    
                </tr>
            </tbody>
        </table>





    </div>
</div>



    </div>
</div>
