<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6 py-3 px-4 border border-dark shadow-lg border-3 rounded-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-richtext mx-auto d-block mx-3 mb-3" viewBox="0 0 16 16">
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                <path d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm1.639-3.708 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V8s1.54-1.274 1.639-1.208zM6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"/>
              </svg>
            <h3 class="text-center fw-light">Detalle de Solicitud de Inscripción</h3>
            <hr>
            <h4 class="fw-lighter text-center">Datos del Curso</h4>
            <h6>CÓDIGO CURSO: {{detalle.codCurso}}</h6>
            <h6>DESCRIPCIÓN: {{detalle.descripcion}}</h6>
            <h6>MENSUALIDAD: S./{{detalle.mensualidad}} </h6>
            <h6>DURACIÓN: {{detalle.duracion}} Semanas</h6>
            <h6>CANTIDAD MAXIMA ALUMNOS: {{detalle.cantidadAlumnos}}</h6>
            <h6>FRECUENCIA: {{detalle.frecuencia}}</h6>
            <h6 *ngIf="detalle.visibilidad == true; else cursoInvisible">ESTADO: VISIBLE</h6>
            <ng-template #cursoInvisible><h6>ESTADO: OCULTO</h6></ng-template>
            <hr>
            <h4 class="fw-lighter text-center">Datos del Alumno</h4>
            <h6>CÓDIGO ALUMNO: {{detalle.codAlumno}}</h6>
            <h6>NOMBRE: {{detalle.nombre}}</h6>
            <h6>AP. PATERNO: {{detalle.apellidoPaterno}}</h6>
            <h6>AP. MATERNO: {{detalle.apellidoMaterno}}</h6>
            <h6>DNI: {{detalle.dni}}</h6>
            <h6>TELÉFONO: {{detalle.telefono}}</h6>
            <h6 *ngIf="detalle.activo == true; else alumnoInactivo">ESTADO: ACTIVO</h6>
            <ng-template #alumnoInactivo><h6>ESTADO: INACTIVO</h6></ng-template>
            <hr>
            <h4 class="fw-lighter text-center">Datos de Inscripción</h4>
            <h6>FECHA SOLICITUD: {{detalle.fechaInscripcion | date}}</h6>
            <h6>FECHA INICIO: {{detalle.fechaInicio | date}}</h6>
            <h6>FECHA FINAL: {{detalle.fechaFinal | date}}</h6>
            <h6>FECHA TERMINADO: {{detalle.fechaTerminado == null? '---------': detalle.fechaTerminado | date}}</h6>
            <h6 *ngIf="estado === 'EN PROCESO'" class="fw-bold text-primary">ESTADO: CURSO {{estado}}</h6>
            <h6 *ngIf="estado === 'TERMINADO'" class="fw-bold text-success">ESTADO: CURSO {{estado}}</h6>
            <h6 *ngIf="estado === 'RETIRADO'" class="fw-bold text-danger">ESTADO: ALUMNO {{estado}}</h6>
            <hr>
            <div class="text-center" *ngIf="estado =='EN PROCESO' && fechaFutura == true">
                <div class="btn-group" role="group" >
                    <a type="button" class="btn btn-danger fw-bold" (click)="retirarAlumno()">RETIRAR ALUMNO</a>
                    <a type="button" class="btn btn-warning fw-bold" [routerLink]="['/dashboard','inscripciones']">ATRAS</a>
                  </div>
            </div>
            <div class="text-center" *ngIf="estado =='TERMINADO' || estado == 'RETIRADO'">
                <div class="btn-group" role="group" >
                    <a type="button" class="btn btn-warning fw-bold" [routerLink]="['/dashboard','inscripciones']">ATRAS</a>
                  </div>
            </div>

        </div>
        
    </div>
</div>