<div class="container container-fluid mt-5">
    <div class="card border-danger">
        <div class="card-header text-center fw-bold bg-danger text-light">
          <h5 class="fw-bold">Exportar Inscripciones</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center fw-medium">Por favor, seleccione las opciones a continuación para la generación de un reporte de inscripciones.</p>
          <div class="row">
            <div class="col-2">
                <h6 class="fw-bold">Tipo de Reporte</h6>
                <select class="form-select fw-medium" id="tipo" #tipoI (change)="setTipo(tipoI.value)">
                    <option class="fw-medium" value="general"selected>GENERALES</option>
                    <option class="fw-medium" value="curso">POR CURSO</option>
                    <option class="fw-medium" value="alumno">POR ALUMNO</option>
                </select>
            </div>
            <div class="col-3">
                <h6 class="fw-bold">Formato de Archivo</h6>
                <select class="form-select fw-medium" id="formato" #formatoI (change)="setFormato(formatoI.value)">
                    <option class="fw-medium" value="excel"selected>EXCEL</option>
                    <option class="fw-medium" value="csv">CSV</option>
                    <option class="fw-medium" value="pdf">PDF</option>
                </select>
            </div>
            <div class="col-2">
                <h6 class="fw-bold">DNI Estudiante</h6>
                <input type="text" class="form-control fw-medium" id="dniEstudiante" #dniEstudiante [disabled] = "this.estadoDni" maxlength="8" minlength="8">
            </div>
            <div class="col-3">
                <h6 class="fw-bold">Curso</h6>
                <select class="form-select fw-medium" id="nombreCurso" #nombreCurso [disabled] = "this.estadoCurso" (change)="setCurso(nombreCurso.value)">
                    <option class="fw-medium" *ngFor="let curso of listaCursos" [value] ="curso.codCurso">{{curso.nombre}}</option>
                </select>

            </div>
            <div class="col-2 mt-4">
                <a class="btn-success btn fw-bold bg-gradient" (click)="descargarArchivoI()">Descargar</a>
            </div>
        </div>
        </div>
    </div>
    </div>
