<div class="container my-4 mx-4 d-flex align-items-center row ">
    <div class="">
        <div class="card">
            <h5 class="card-header text-center">{{inscripcion.seccion?.curso?.nombre}}</h5>
            <h5 class="text-center mt-3 text-danger" *ngIf="inscripcion.fechaTerminado != null">CURSO FINALIZADO EL DÍA: {{inscripcion.fechaTerminado}}</h5>
            <div class="card-body">
                <div class="container row">
                    <img src="{{inscripcion.seccion?.curso?.imagen}}" class="col img img-thumbnail me-3" style="max-width: 400px; max-height: 400px;">
                    <div class="container col">
                        <h6 class="col fw-bolder">DESCRIPCIÓN CURSO: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.curso?.descripcion}}</p></h6>
                        <h6 class="col fw-bolder">DURACIÓN: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.curso?.duracion}} Semanas</p></h6>
                        <h6 class="col fw-bolder" *ngIf="inscripcion.curso?.frecuencia == 'Interdiario'">FRECUENCIA: <p class="fw-lighter pt-2">{{inscripcion.seccion?.curso?.frecuencia}} - Lunes / Miercoles / Viernes</p></h6>
                        <h6 class="col fw-bolder" *ngIf="inscripcion.curso?.frecuencia != 'Interdiario'">FRECUENCIA: <p class="fw-lighter pt-2">{{inscripcion.seccion?.curso?.frecuencia}}</p></h6>
                        <h6 class="col fw-bolder">TURNO: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.curso?.turnos?.at(0)?.nombre}}</p></h6>
                    </div>
                    <div class="container col pb-3">
                        <hr class="invisible">
                        <h6 class="col fw-bolder">HORA INICIO: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.curso?.turnos?.at(0)?.horaInicio}}</p></h6>
                        <h6 class="col fw-bolder">HORA FIN: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.curso?.turnos?.at(0)?.horaFin}}</p></h6>
                        <h6 class="col fw-bolder">DOCENTE: <p class="fw-lighter pt-2" >{{inscripcion.seccion?.profesor?.nombre}} {{inscripcion.seccion?.profesor?.apellidoPaterno}}</p></h6>
                        <h6 class="col fw-bolder" *ngIf="inscripcion.curso.temas.length >= 1">TEMAS: <p *ngFor="let t of inscripcion.curso?.temas" class="fw-lighter pt-2" >{{t.nombre}}</p></h6>
                        <h6 class="col fw-bolder" *ngIf="inscripcion.curso.temas.length == 0">TEMAS: <p class="fw-lighter pt-2">¡No hay temas registrados actualmente!</p></h6>
                    </div>
                    <div class="container row mt-3" *ngIf="inscripcion.fechaTerminado == null">
                        <div class="col text-center">
                            <h4>Guías de Estudio</h4>
                        </div>
                        <table class="row table" *ngIf="inscripcion.curso.temas.length >=1">
                            <tbody>
                                <tr *ngFor="let i of inscripcion.seccion?.curso?.temas">
                                    <td>{{i.nombre}}</td>
                                    <td><a (click)="descargarGuia(i.codTema)" class="btn btn-outline-primary">DESCARGAR</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-center fw-light" *ngIf="inscripcion.curso.temas.length == 0">Ups! No se han encontrado guías de estudio.</h5>
                    </div>
                    <div class="container row mt-3" *ngIf="inscripcion.fechaTerminado != null && inscripcion.fechaFinal == inscripcion.fechaTerminado">
                        <div class="col text-center">
                            <button type="button" class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
                                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                              </svg>Descargar Certificado</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>


    </div>
</div>
