<div class="container container-fluid mt-5">
    <div class="card border-warning">
        <div class="card-header text-center fw-bold bg-warning text-light">
          <h5>Exportar Docentes</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center fw-medium">Por favor, seleccione las opciones a continuación para la generación de un reporte de docentes.</p>
          <div class="row">
            <div class="col-4">
                <h6 class="fw-bold">Tipo de Reporte</h6>
                <select class="form-select fw-medium" id="tipo" #docenteTipo (change)="setTipo(docenteTipo.value)">
                    <option class="fw-medium" value="general" selected>GENERAL</option>
                    <option class="fw-medium" value="activos" >ACTIVOS</option>
                    <option class="fw-medium" value="disponibles" >DISPONIBLES - SIN CURSO ASIGNADO</option>
                </select>
            </div>
            <div class="col-4">
                <h6 class="fw-bold">Formato de Archivo</h6>
                <select class="form-select fw-medium" id="formato" #docenteFormato (change)="setFormato(docenteFormato.value)">
                    <option class="fw-medium" value="excel"selected>EXCEL</option>
                    <option class="fw-medium" value="csv">CSV</option>
                    <option class="fw-medium" value="pdf">PDF</option>
                </select>
            </div>
            <div class="col-4 mt-4">
                <a class="btn-success btn fw-bold" (click)="descargarArchivoD()" >Descargar</a>
            </div>
        </div>
        </div>
    </div>
    </div>