<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-md-12 py-3 px-4">
      <div class="card border-success">
        <div class="card-header text-center bg-success bg-gradient">
          <h5 class="fw-bold text-light">Registro de Pagos</h5>
        </div>
        <div class="card-body">
          <div class="container">
            <h6 class="text-center fw-light">A continuación debera ingresar el DNI de un estudiante que se encuentre estudiando un curso para poder realizar el registro de sus pagos.</h6>

            <div class="row">
              <div class="col-2">
                <div class="row">
                  <div class="mb-3">
                    <label for="dniAlumno" class="form-label fw-bold">DNI Alumno</label>
                    <input type="text" class="form-control" id="dniAlumno" placeholder="09999999" maxlength="8" #dniAlumno>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <div class="row">
                  <label for="dniAlumno" class="form-label fw-bold invisible">Invisible</label>
                  <a class="btn btn-primary bg-gradient fw-bold" (click)="getInscripcionesAlumno(dniAlumno.value)">BUSCAR</a>
                </div>
              </div>

              <div class="col-3">
                <div class="mb-3">
                  <label for="nombreAlum" class="form-label fw-bold">Nombre</label>
                  <input type="text" class="form-control" id="nombreAlum" placeholder="-------" #nombreAlum [disabled]="true" [value]="datosAlumno?.nombre">
                </div>
              </div>

              <div class="col-3">
                <div class="mb-3">
                  <label for="apellidosAlum" class="form-label fw-bold">Apellidos</label>
                  <input type="text" class="form-control" id="apellidosAlum" placeholder="-------" #apellidosAlum [disabled]="true" [value]="apellidosAlumno">
                </div>
              </div>

              <div class="col-3">
                <div class="mb-3">
                  <label for="telefonoAlum" class="form-label fw-bold">Teléfono</label>
                  <input type="text" class="form-control" id="telefonoAlum" placeholder="-------" #telefonoAlum [disabled]="true" [value]="telefonoAlumno">
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-4">
                <label for="selectCurso" class="form-label fw-bold">Curso a Pagar</label>
                <select class="form-select" id="selectCurso" #selectCurso [disabled]="estadoSelectCurso" (change)="setInscripcionSeleccionada(selectCurso.value)">
                  <option value="{{c.codInscripcion}}" *ngFor="let c of inscripcionesAlumno" selected>{{c.seccion?.curso?.nombre + " "+c.seccion?.nombre}}</option>
                </select>
              </div>

              <div class="col-4">
                <label for="selectPago" class="form-label fw-bold">Pago</label>
                <select class="form-select" id="selectPago" #selectPago [disabled]="pendientesSize()" (change)="setValoresPago(selectPago.value)" (click)="setValoresPago(selectPago.value)">
                  <!---Este truco solo se puede hacer una vez en la vida muchachos, no lo intenten! (click)-->
                  <option value="{{c.descripcion}}" *ngFor="let c of listaPendientes" [value]="c.descripcion" selected>{{c.descripcion}}</option>
                </select>
              </div>

              <div class="col-2">
                <label for="subTotal" class="form-label fw-bold">Subtotal</label>
                <input type="text" class="form-control" id="subTotal" placeholder="S./ 0.00" #subTotal [disabled]="true" [value]="frmSubtotal">
              </div>

              <div class="col-2">
                <label for="montoMora" class="form-label fw-bold">Monto Mora</label>
                <input type="text" class="form-control" id="montoMora" placeholder="S./ 0.00" #montoMora [disabled]="true" [value]="frmMora">
              </div>
            </div>

            <div class="row mt-3">

              <div class="col-2">
                <label for="total" class="form-label fw-bold">Total</label>
                <input type="text" class="form-control" id="total" placeholder="S./ 0.00" #total [disabled]="true" [value]="frmTotal">
              </div>

              <div class="col-2">
                <label for="fPago" class="form-label fw-bold">Fecha de Pago</label>
                <input type="text" class="form-control" id="fPago" #fPago [disabled]="true" [value]="frmFechaPago | date">
              </div>

              <div class="col-2">
                <label for="fVen" class="form-label fw-bold">Fecha de Vencimiento</label>
                <input type="text" class="form-control" id="fVen" #fVen [disabled]="true" [value]="frmVencimiento | date">
              </div>
            </div>

            <div class="row mt-3 text-center">
              <div class="col-12">
                <button class="btn btn-primary bg-gradient fw-bold" (click)="enviarPago()" [disabled]="estadoBtnPago">REGISTRAR PAGO</button>
                <button class="btn btn-secondary bg-gradient fw-bold ms-3" (click)="resetearForm()">RESETEAR</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


</div>
