<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<!---------------------NAVBAR ADMIN----------------------->
<nav class="navbar navbar-expand-lg bg-primary" *ngIf="rol == 'ADMINISTRADOR';">
    <div class="container-fluid d-flex justify-content-between">
        <div style="flex-basis: 0;" class="d-flex flex-grow-1">
            <a class="navbar-brand" [routerLink]="'/dashboard'">
                <img src="./assets/images/logo.png" alt="Logo" width="130" height="auto" class="logo d-inline-block align-text-top">
            </a>
        </div>
        <div class="d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'inscripciones']">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'alumnos']">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'cursos']">Cursos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'docentes']">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="text-dark fs-5 fw-medium">{{rol}}</a>
                </li>
            </ul>
        </div>

        <div style="flex-basis: 0;" class="d-flex flex-grow-1 justify-content-end">
            <div class="btn-group">
            <a class="btn btn-secondary fw-bold" [routerLink]="['/dashboard','mi-cuenta']" >Mi Cuenta</a>
            <button class="btn btn-danger fw-bold" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
        </div>
    </div>
</nav>
<!---------------------NAVBAR ALUMNO----------------------->
<nav class="navbar navbar-expand-lg bg-success" *ngIf="rol == 'ALUMNO';">
    <div class="container-fluid d-flex justify-content-between">
        <div style="flex-basis: 0;" class="d-flex flex-grow-1">
            <a class="navbar-brand" [routerLink]="'/dashboard'">
                <img src="./assets/images/logo.png" alt="Logo" width="130" height="auto" class="logo d-inline-block align-text-top">
            </a>
        </div>
        <div class="d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'inscripciones']">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'alumnos']">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'cursos']">Cursos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'docentes']">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="text-dark fs-5 fw-medium">{{rol}}</a>
                </li>
            </ul>
        </div>

        <div style="flex-basis: 0;" class="d-flex flex-grow-1 justify-content-end">
            <div class="btn-group">
            <a class="btn btn-secondary fw-bold" [routerLink]="['/dashboard','mi-cuenta']" >Mi Cuenta</a>
            <button class="btn btn-danger fw-bold" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
        </div>
    </div>
</nav>
<!---------------------NAVBAR DOCENTE----------------------->
<nav class="navbar navbar-expand-lg bg-warning" *ngIf="rol == 'DOCENTE';">
    <div class="container-fluid d-flex justify-content-between">
        <div style="flex-basis: 0;" class="d-flex flex-grow-1">
            <a class="navbar-brand" [routerLink]="'/dashboard'">
                <img src="./assets/images/logo.png" alt="Logo" width="130" height="auto" class="logo d-inline-block align-text-top">
            </a>
        </div>
        <div class="d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'inscripciones']">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'alumnos']">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'cursos']">Cursos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link text-white active fs-5 fw-medium" [routerLink]="['/dashboard', 'docentes']">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="text-dark fs-5 fw-medium">{{rol}}</a>
                </li>
            </ul>
        </div>

        <div style="flex-basis: 0;" class="d-flex flex-grow-1 justify-content-end">
            <div class="btn-group">
            <a class="btn btn-secondary fw-bold" [routerLink]="['/dashboard','mi-cuenta']" >Mi Cuenta</a>
            <button class="btn btn-danger fw-bold" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
        </div>
    </div>
</nav>